body{
 	margin: 0px;
 	padding: 0px;
 }
  
  .un {
  	height:120px;
  	width:120px;
  	background-color: yellow;
  	overflow: auto;
  	}

  .dos {
  	height:120px;
  	width:120px;
  	background-color: dodgerblue;
      overflow: auto;
  }

  .tres {
  	height:120px;
  	width:120px;
  	background-color: crimson;
      overflow: auto;
}
.padre {
    width: 600px;
    border: 1px blue solid;
    
     overflow: auto;
}


    
p{
    color: green;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
a {  text-align: center;
    font-family: cursive;
    font-size: 20px;
    color: purple;
}